.-sp-pro-motion {
  display: flex;
  justify-content: space-between;
  max-height: 435px;
  margin-top: 31px;
}
.-sp-pro-motion > div.-sp-pro {
  width: 774px;
  position: relative;
}
.-sp-pro-motion > div.-sp-pro div.-arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 47%;
  font-size: 47px;
}
.-sp-pro-motion > div.-sp-pro div.-arrow > i {
  padding: 0 1em;
  cursor: pointer;
}
.-sp-pro-motion > div.-promotion {
  width: 435px;
  position: relative;
}
.-sp-pro-motion > div img {
  width: 100%;
}
.-sp-pro-motion > div .-bar-stick {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.-sp-pro-motion > div .-bar-stick span {
  display: block;
  width: 29px;
  height: 3px;
  background-color: black;
  margin: 0 7px;
  cursor: pointer;
}

.-top-product {
  margin-top: 41px;
}
.-top-product div.-bar-btn {
  display: flex;
}
.-top-product div.-bar-btn p {
  display: block;
  padding: 7px 23px;
  background-color: rgba(128, 128, 128, 0.4);
  font-size: 19px;
  font-weight: bold;
  margin-right: 11px;
  border-radius: 7px;
  cursor: pointer;
}

.-pro-line {
  margin-top: 29px;
}
.-pro-line > div {
  display: flex;
  justify-content: space-between;
}

.-product {
  width: 200px;
  text-align: center;
}
.-product img {
  width: 100%;
}
.-product a {
  text-decoration: none;
  color: black;
}

.-sex div.-banner-content > a {
  width: 600px;
}

.-banner-content {
  display: flex;
  justify-content: space-between;
}
.-banner-content > a > div:last-child {
  bottom: 23px;
}
.-banner-content > a:first-child p {
  color: black;
}
.-banner-content > a:last-child p {
  color: rgba(255, 255, 255, 0.58);
}

.-tittle {
  font-size: 31px;
  text-align: center;
  margin: 37px 0;
}

.-banner-view {
  display: block;
  position: relative;
}
.-banner-view > div:last-child {
  position: absolute;
  width: 100%;
  text-align: center;
}
.-banner-view > div:last-child > p {
  font-size: 31px;
  font-weight: bold;
}
.-banner-view > div:last-child > p:last-child {
  width: fit-content;
  margin: 0 auto;
  margin-top: 7px;
  font-size: 26px;
  display: block;
  padding: 13px;
  font-weight: 600;
  background-color: rgba(242, 226, 226, 0.22);
  color: black;
}

.-brand {
  margin-top: 37px;
}
.-brand div.-banner-content {
  margin-top: 37px;
}
.-brand div.-banner-content > a:first-child {
  width: 454px;
}
.-brand div.-banner-content > a:last-child {
  width: 757px;
}
.-brand-logo {
  margin-top: 23px;
  display: flex;
  justify-content: space-around;
}
.-brand-logo h3 {
  color: rgba(0, 0, 0, 0.71);
}

.-bot-promotion div.-banner-promotion {
  display: flex;
  justify-content: space-between;
}
.-bot-promotion div.-banner-promotion > a {
  display: block;
  width: 380px;
}

.-advise-box {
  display: flex;
  justify-content: space-around;
  font-size: 27px;
}
.-advise-box > div {
  width: 40%;
}
.-advise-box > div p {
  width: fit-content;
  padding: 7px 23px;
  border-radius: 7px;
  font-size: 23px;
  cursor: pointer;
}
.-advise-box > div h4 {
  text-align: center;
}
.-advise-box > div input, .-advise-box > div textarea {
  width: 100%;
  margin: 11px;
  margin-left: unset;
  padding: 7px;
}
.-advise-box > div.-advise-mail textarea {
  height: 126px;
}
.-advise-box > div.-advise-mail p {
  background-color: gray;
  margin-left: auto;
}
.-advise-box > div.-advise-onl textarea {
  height: 184px;
}
.-advise-box > div.-advise-onl p {
  background-color: lightblue;
  margin: 0 auto;
}

.-utilities {
  margin-top: 37px;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: rgba(196, 196, 196, 0.31);
}
.-utilities > div {
  text-align: center;
}
.-utilities > div i {
  font-size: 50px;
}
.-utilities > div p {
  margin-top: 17px;
  font-size: 23px;
}

/*# sourceMappingURL=index.css.map */
